@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto);

body{
	font-family: 'Lobster', sans-serif; 
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
}

#home {
	background: linear-gradient(rgba(240,240,240,0.3),rgba(251,251,251,0.3)), url(https://scontent-sjc3-1.cdninstagram.com/vp/1c52bca64538334e5249b160bf6df726/5C80D0BF/t51.2885-15/e35/42704227_2258914337471477_1538270502343276520_n.jpg) no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 35em;
	text-align: right;
	margin: 0;
	padding: 5px 0 0 0;
}

#headerButton {
	margin: 0 0 25px 0;
}

.wrapper {
	margin: 0;
	padding: 0;
	max-width: auto;
}

#about {
	background: linear-gradient(rgba(240,240,240,0.3),rgba(251,251,251,0.3)), url(https://scontent-sjc3-1.cdninstagram.com/vp/1c52bca64538334e5249b160bf6df726/5C80D0BF/t51.2885-15/e35/42704227_2258914337471477_1538270502343276520_n.jpg) no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: auto;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: right;
}

nav {
	margin: 0;
	padding: 8px 0 8px 0;
}

.navList {
	display: inline;
	color: #FFF;
	font-size: 1.5em;
	letter-spacing: 3px;
	font-weight: 450;
	text-shadow: 1.5px 1.5px #000;
	list-style: none;
	text-decoration: none;
	padding: 4% 3% 2% 3%;
	margin: 0;
}

/*nav a:hover  {
	background-color: #FFC0CB;
	border: 1px #FFCA78 solid;
	border-radius: 0 0 10px 10px;
	padding: 4% 2.9% 2% 2.9%;
	letter-spacing: 3px;
}*/

nav a:hover {
	color: #FFCA78;
	font-size: 1.5em;
}

#aboutName {
	padding: 15pt 10pt 15pt 10pt;
	margin: 10px;
	font-size: 1.7em;
	color: #FFF;
	float: left;
}

#aboutName:hover {
	background-color: #FFC0CB;
	padding: 15pt 10pt 15pt 10pt;
	border: 1px #FFFACD solid;
	margin: 10px;
	font-size: 1.7em;
}

#familyNav {
	width: 100%;
	margin: 0;
	padding: 0;
}

#heroName {
	color: #FFC0CB;
	padding: 2%;
	font-weight: 550;
	letter-spacing: 5px;
	font-size: 3em;
	text-shadow: 1.5px 1.5px #000;
	margin: 10% 0 0 0;
	text-align: center;
}

#aboutHero {
	color: #FFC0CB;
	padding: 2%;
	font-weight: 550;
	letter-spacing: 5px;
	font-size: 3em;
	text-shadow: 1.5px 1.5px #000;
	margin: 10% 0 0 0;
	text-align: center;
	background-color: transparent;
	clear: both;
}

#slogan {
	color: #fff;
	text-align: center;
	text-shadow: 1.5px 1.5px #000;
	font-size: 1.5em;
	padding: 0;
}

span {
	color: #FFC0CB;
	font-family: 'Lobster', sans-serif;
}

.subheaders {
	color: #FFC0CB;
	text-align: center;
/*	font-size: 22pt;*/
	font-size: 1.5em;
	padding: 2% 2% 0;
	clear: both;
}

#sectionOne {
	width: 100%;
}

h3 {
	font-size: 1em;
	letter-spacing: 5px;
}

p {
	font-family: 'Roboto', Arial, sans-serif;
	color: #8A8A8A;
	text-align: center;
	font-size: 1em;
	font-weight: 100px;
	margin: 0 10% 4%;
	line-height: 1em;
}

.column {
	width: 33.33%;
	margin: auto;
	padding: 0;
	float: left;
	text-align: center;
}


#aboutNav {
	margin: 10px 0 0 0;
}

.aboutImages {
	width: 40%;
	margin: 10px 10px 10px 10px;
	height: auto;
	border: 2px #FFCA78 solid;
	border-radius: 5px;
	float: left;
/*	position: relative;*/
	clear: both;
}

.aboutOne img {
	width: 90%;
/*	float: left;*/
/*	position: relative;*/
	margin: 20px 20px 10px 20px;
	float: left;
	border-radius: 5px;
}

#aboutThree img {
	margin: 20px;
}

#aboutMain {
	margin: 50px 0 75px 0;
	width: 100%;
	height: 1000px;
}

#aboutArticle {
	width: 55%;
	padding: 5px;
	height: auto;
	border: 2px #FFCA78 solid;
	border-radius: 5px;
	margin: 10px 10px 10px 5px;
	float: right;
}

.aboutP {
	text-align: justify;
	width: auto;
	margin: 0;
	padding: 10px 20px 20px 20px;
	line-height: 30px;
	font-size: 1em;
}

.spacer {
	text-align: center;
}

#spacerOne {
	margin: 10pt 5pt 10pt 10pt;
}

#spacerTwo {
	margin: 10pt 5pt 10pt 5pt;
}

#spacerThree {
	margin: 10pt 10pt 10pt 5pt;
}

div img {
	vertical-align: top;
	width: 100%;
	margin: auto;
	border-radius: 5px;
	text-align: center;
}

div figcaption {
	font-family: 'Roboto', Arial, sans-serif;
	color: #8A8A8A;
	padding: 5% 0 0 0;
	font-weight: 100px;
	font-size: 1em;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
}


#figureOneMargin #nameOne {
	margin: auto;
	text-align: center;
}

#figureTwoMargin #nameTwo {
	margin: auto;
	text-align: center;
}

#figureThreeMargin #nameThree{
	margin: auto;
	text-align: center;
}

.button {
	color: #ffffff;
	text-shadow: .5px 1px #8A8A8A;
	font-weight: 200;
	font-size: 1em;
	background: #FFCA78;
	padding: 15pt 10pt 15pt 10pt;
	border: 1px #FFFACD solid;
	text-decoration: none;
	text-align: center;
	letter-spacing: 5px;
	clear: both;
	border-radius: 15px;
	width: 200pt;
	margin: 3% 0;
	display: inline-block;
}

.button:hover {
	background-color: #FFC0CB;
	padding: 15pt 10pt 15pt 10pt;
	border: 1px #FFFACD solid;
}

hr {
	max-width: 70%;
	border: .70px dashed #7B8A9E;
}

#two_column {
	width: 100%;
	margin: 2% 1% 4% 1%;
}

#left {
	float: left;
	padding: 0;
	width: 40%;
	margin: 2% 1.5% 1.5%;
}

#left img {
	background-size: cover;
	width: 100%;
	border-radius: 5px;
	float: left;
}

#right {
	color: #8A8A8A;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
	width: 50%;
	text-align: justify;
	padding: 2% 1.5% 0 3%;
	float: right;
	margin: 0 2% 0 0;
}

.clearFix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
/*	clear: both;*/
}

#sectionThree {
	width: 100%;
}

#list {
	color: #8A8A8A;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
	list-style: circle;
	padding: 4% 30% 0;
	width: auto;
}

footer {
	background-color: #000000;
	padding: 5% 0 10% 0;
	text-align: center;
	width: 100%;
}

#footerAddress {
	line-height: 40px;
}

.footerSection {
	display: inline-block;
	color: #FFF;
	vertical-align: top;
	width: 33%;
}

#Facebook {
	margin: 5pt;
	display: inline;
}

#Instagram {
	margin: 5pt;
	display: inline;
}

.socialMedia img{
	width: 50pt;
}

.clear {
	clear: both;
}


@media only screen and (max-width: 650px) {
	#two_column {
		margin: 0;
	}

	#left {
		float: none;
		width: auto;
		margin: 0;
	}

	#left img {
		margin: 0 0 20pt;
		border-radius: 0;
	}

	#right {
		float: none;
		width: auto;
		margin: 20pt;
		padding: 0;
	}

	.column {
		float: none;
		width: auto;
		margin: auto;
/*		display: inline;*/
	}

	div img {
		border-radius: 0;
	}

	#spacerOne {
		margin: 25px 0 25px 0;
	}

	#spacerTwo {
		margin: 25px 0 25px 0;
	}

	#spacerThree {
		margin: 25px 0 25px 0;
	}

	p {
		padding: 10px 10px 30px 10px;
	}
}

@media only screen and (max-width: 1197px) {
	.aboutImages {
		width: auto;
		margin: 10px;
		display: inline-block;
		float: none;
	}

	#aboutArticle {
		width: auto;
		margin: 10px;
	}

	.aboutOne {
		float: none;
	}

	#aboutMain {
		height: 3100px;
	}

}

@media only screen and (max-width: 1100px) {
	#aboutMain {
		height: auto;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 550px) {
	.footerSection {
		display: inline;
		margin: 5pt 10pt 10pt 10pt;
	}

	.socialMedia {
		display: inline;
	}
}

@media only screen and (max-width: 750px) {
	.wrapper {
		width: 100%;
		margin: 0;
		padding: ;
	}

	.aboutP {
		padding: 0;
		margin: 20pt;
	}

	.subheaders {
		font-size: 2em;
		padding: 0;
	}
}

@media only screen and (max-width: 860px) {
	#familyNav #aboutName{
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.navList {
		width: 100%;
		display: block;
		margin: 10pt 0 10pt 0;
		text-align: center;
		font-size: 1.5em;
		padding: auto;
		line-height: 55px;
		border-radius: 0;
	}

	#familyNav {
		width: 100%;
		display: block;
		margin: auto;
		text-align: center;
		font-size: 18pt;
		padding: auto;
	}

	nav a:hover {
	color: #FFCA78;
	font-size: 1.5em;
	}

	#aboutName {
		float: none;
	}

	#aboutUsNav {
		width: 100%;
		padding: auto;
		border-radius: 0;
	}

	nav a {
		width: 100%;
		display: block;
		margin: 0;
		padding: auto;
		line-height: 55px;
		color: #FFCA78;
	}

	body {
		font-size: 20px;
	}

	#heroName {
		text-align: center;
		font-size: 2.5em;
		margin: auto;
		width: auto;
		line-height: 70px;
	}

	#slogan {
		padding: auto;
		line-height: auto;
		width: auto;
	}

	header {
		height: 38em;
		margin: 0;
	}

	#sectionOne {
		margin: 50px 0 75px 0;
	}

	.wrapper {
		margin: 0;
		padding: 0;
	}

	#list {
		width: auto;
		text-align: left;
		list-style: circle;
		margin: auto;
	}

	#aboutHero {
		margin: 30pt 0 10pt 0;
		padding: auto;
	}

	#about {
		height: 110%;
	}

	#aboutName {
	padding: 15pt 10pt 15pt 10pt;
	margin: 10px;
	font-size: 1.5em;
	color: #FFF;
	width: 85%;
	}

	#aboutName:hover {
	background-color: #FFC0CB;
	padding: 15pt 10pt 15pt 10pt;
	border: 1px #FFFACD solid;
	margin: 10px;
	font-size: 1.5em;
	width: 85%;
	}

}


@media (min-width: 700px) {
    nav a: hover {
		background-color: #FFC0CB;
		border: 1px #FFCA78 solid;
		border-radius: 0 0 10px 10px;
		padding: 4% 2.9% 2% 2.9%;
		letter-spacing: 3px;
	}
}
