body {
	background-image: url("file:///Users/carolinekeller/Desktop/carolinemariekeller.github.io/unit_1/unit_1/images/steve.jpg");
	background-size: cover;
	font-family: Calibri, san-serif;
}

h1{
	color: #F4A460;
	text-align: center;
	text-transform: uppercase;
}

p{
	color: #696969;
	text-align: justify;
}

.steve{
	font-size: 20px;
}

h2 {
	color: #F4A460;
	text-align: center;
	font-weight: normal;
}

#first{
	font-weight: bold;
}

#calltoaction {
	text-transform: uppercase;
}

h3{
	color: #696969;
	text-transform: none;
}

#explore{
	text-align: center;
}

#second {
	text-align: center;
}

a {
	color: #CD853F;
	text-decoration: underline;
}
