@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto);

body{
	font-family: 'Lobster', sans-serif; 
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
}

header{
	background: linear-gradient(rgba(240,240,240,0.3),rgba(251,251,251,0.3)), url(https://scontent-sjc3-1.cdninstagram.com/vp/1c52bca64538334e5249b160bf6df726/5C80D0BF/t51.2885-15/e35/42704227_2258914337471477_1538270502343276520_n.jpg) no-repeat;
	background-position: center bottom;
	background-size: cover;
/*	height: 500px;*/
	height: 35em;
/*	width: auto;*/
	text-align: right;
	margin: 0;
	padding: 0;
/*	padding: 5px 0 20px 0;*/
}

#headerButton {
	margin: 0 0 25px 0;
}

.wrapper {
	margin: 0;
	padding: 0;
	max-width: auto;
}


nav {
	margin: 0;
	padding: 8pt 0 12pt 0;
}

.navList {
	display: inline;
	color: #FFF;
/*	padding: 30px 30px 30px 10px;*/
/*	font-size: 18pt;*/
	font-size: 1.2em;
	letter-spacing: 5px;
	font-weight: 450;
	text-shadow: 1.5px 1.5px #000;
	list-style: none;
	text-decoration: none;
/*	padding: 30px 25px 15px 25px;*/
	padding: 4% 4% 2.5%;
	margin: 0;
}

nav a:hover  {
	background-color: #FFC0CB;
	border: 1px #FFCA78 solid;
/*	padding: 30px 25px 15px 25px;*/
	padding: 4% 3.9% 2.5%;
	letter-spacing: 5px;
}

#tab {
	border-radius: 0 0 0 20px;
}

#heroName {
	color: #FFC0CB;
	padding: 15% 2% .5%;
	font-weight: 550;
	letter-spacing: 5px;
	font-size: 3em;
	text-shadow: 1.5px 1.5px #000;
	text-align: center;
}

#slogan {
	color: #fff;
	text-align: center;
	text-shadow: 1.5px 1.5px #000;
	font-size: 1.5em;
	padding: 0;
}

span {
	color: #FFC0CB;
	font-family: 'Lobster', sans-serif;
}

.subheaders {
	color: #FFC0CB;
	text-align: center;
/*	font-size: 22pt;*/
	font-size: 1.5em;
	padding: 2% 2% 0;
	clear: both;
}

#sectionOne {
	width: 100%;
}

h3 {
	font-size: 1em;
	letter-spacing: 5px;
}

p {
	font-family: 'Roboto', Arial, sans-serif;
	color: #8A8A8A;
	text-align: center;
	font-size: 1em;
	font-weight: 100px;
/*	margin: 0 20px 30px 20px;
*/	margin: 0 10% 3%;
	line-height: 1em;
}

.column {
	width: 33.33%;
	margin: auto;
	padding: 0;
	float: left;
	text-align: center;
}

.spacer {
	text-align: center;
}

#spacerOne {
	margin: 10pt 5pt 10pt 10pt;
}

#spacerTwo {
	margin: 10pt 5pt 10pt 5pt;
}

#spacerThree {
	margin: 10pt 10pt 10pt 5pt;
}

div img {
	vertical-align: top;
	width: 100%;
	margin: auto;
	border-radius: 5px;
	text-align: center;
}

div figcaption {
	font-family: 'Roboto', Arial, sans-serif;
	color: #8A8A8A;
	padding: 5% 0 0 0;
	font-weight: 100px;
	font-size: 1em;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
}


#figureOneMargin #nameOne {
/*	margin: 0 50px 20px 100px;*/
	margin: auto;
	text-align: center;
}

/*#nameOne {
	margin: 0 50px 20px 50px;
}*/

#figureTwoMargin #nameTwo {
/*	margin: 0 75px 20px 75px;*/
	margin: auto;
	text-align: center;
}
/*
#nameTwo {
	margin: 0 45px 20px 45px;	
}
*/
#figureThreeMargin #nameThree{
/*	margin: 0 100px 20px 50px;*/
	margin: auto;
	text-align: center;
}
/*
#nameThree {
	margin: 0 50px 20px 50px;
}
*/
/*#figureThree {
	margin: 0 100px 0 50px;
	width: 250px;
	border: 2px dotted #D3D3D3;
	border-radius: 15px;
	display: inline-block;
}*/

/*.meetMe {
	font-family: 'Lobster', Arial, sans-serif;
	font-size: 20px;
	color: #FFCA78;
	padding: 50px;
}

.meetMe:hover {
	color: #FFC0CB;
}*/

.button {
	color: #ffffff;
	text-shadow: .5px 1px #8A8A8A;
	font-weight: 200;
	font-size: 1em;
	background: #FFCA78;
/*	padding: 15px 25px 15px 25px;*/
/*	padding: 25pt;*/
	padding: 15pt 10pt 15pt 10pt;
	border: 1px #FFFACD solid;
	text-decoration: none;
	text-align: center;
	letter-spacing: 5px;
	clear: both;
	border-radius: 15px;
/*	margin: 20px 100px 50px 100px;*/
/*	width: 35%;*/
/*	margin: 0 25% 25%;*/
	width: 200pt;
	margin: 3% 0;
	display: inline-block;
}

.button:hover {
	background-color: #FFC0CB;
	padding: 15pt 10pt 15pt 10pt;
	border: 1px #FFFACD solid;
}

hr {
	max-width: 70%;
	border: .70px dashed #7B8A9E;
}

/*
#sectionTwo {
	vertical-align: top;
}*/

/*aside img*/

#two_column {
	width: 100%;
	margin: 2% 1% 4% 1%;
}

#left {
	float: left;
	padding: 0;
/*	max-width: 25%;*/
	width: 40%;
	margin: 2% 1.5% 1.5%;
}

#left img {
	background-size: cover;
	width: 100%;
	border-radius: 5px;
	float: left;
}

#right {
	color: #8A8A8A;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
	width: 50%;
	text-align: justify;
	padding: 2% 1.5% 0 3%;
	float: right;
	margin: 0 2% 0 0;
}

/*article {
	color: #8A8A8A;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
/*	text-align: justify;*/
/*	vertical-align: top;*/
/*}*/

.clearFix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#sectionThree {
	width: 100%;
}

#list {
	color: #8A8A8A;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1em;
	list-style: none;
	padding: 4% 30% 0;
	width: auto;
/*	text-align: center;*/
}

footer {
	background-color: #000000;
	padding: 5% 0 10% 0;
	text-align: center;
	width: 100%;
}

.footerSection {
	display: inline-block;
/*	float: left;*/
	color: #FFF;
	vertical-align: top;
	width: 33%;
}
/*
#socialMediaFooter {
	width: 100000px;
}*/

#Facebook {
	margin: 5pt;
	display: inline;
}

#Instagram {
	margin: 5pt;
	display: inline;
}

.socialMedia img{
	width: 50pt;
}

.clear {
	clear: both;
}


@media only screen and (max-width: 650px) {
	#two_column {
		margin: 0;
	}

	#left {
		float: none;
		width: auto;
		margin: 0;
	}

	#left img {
		margin: 0 0 20pt;
		border-radius: 0;
	}

	#right {
		float: none;
		width: auto;
		margin: 20pt;
		padding: 0;
/*		padding: 20pt 15pt 20pt 15pt;*/
	}
	.column {
		float: none;
		width: auto;
		display: inline;
}

@media only screen and (max-width: 550px) {
	.footerSection {
		display: inline;
		margin: 5pt 10pt 10pt 10pt;
	}

	.socialMedia {
		display: inline;
	}
}
/*@media only screen and (max-width: 830px) {
	.column {
		float: none;
		width: auto;
		display: inline;
	}*/

@media only screen and (max-width: 500px) {
	.navList {
		width: auto;
		display: block;
		margin: 0;
		text-align: center;
		font-size: 20pt;
		padding: auto;
		line-height: 1em;
	}

	nav a {
		width: 100%;
		display: block;
		margin: 0;
		padding: auto;
		line-height: 1em; 
	}

	#tab {
		border-radius: 0;
		margin: auto;
		padding: auto;
	}

	body {
		font-size: 20px;
	}

	#heroName {
		text-align: center;
		font-size: 2.5em;
		margin: auto;
	}

	header {
		height: 38em;
		margin: 0;
	}

	#sectionOne {
		margin: 60px 0 75px 0;
	}

	.wrapper {
		margin: 0;
		padding: 0;
	}
}

/*
@media only screen and (min-width: 700px) {
	.button {
		width: 100%;
		display: block;
	}

	a {
		width: 100%;
	}*/

/*	.button {
		padding: 85%;
	}*/