@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto);

body {
	font-family: 'Lobster', sans-serif; 
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-size: cover;
	background-position: center bottom;
	height: 500px;
	margin: 0;
	padding: 0;
	background-color: #FFED74;
}

nav {
	background-color: #E8C66A;
}

aside {
	background-color: #FFC675;
}

article {
	background-color: #E89C6C;
}

footer {
	background-color: #FF957E;
	padding: 20px 0 20px 0;
	margin: 0;
}

section {
	background-color: #FFE2B8;
}

div {
	background-color: #FFE2BB;
}