@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto);

body{
	font-family: 'Lobster', sans-serif; 
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: auto;
}

header{
	background: linear-gradient(rgba(240,240,240,0.3),rgba(251,251,251,0.3)), url(https://scontent-sjc3-1.cdninstagram.com/vp/1c52bca64538334e5249b160bf6df726/5C80D0BF/t51.2885-15/e35/42704227_2258914337471477_1538270502343276520_n.jpg) no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 500px;
	width: auto;
	text-align: right;
	margin: 0;
	padding: 20px 0 20px 0;
}

.wrapper {
	margin: 0;
	padding: 0;
}


nav {
	margin: 0;
	padding: 0;
}

.navList {
	display: inline;
	color: #FFF;
	margin: 10 0 10 0;
	padding: 30px;
	font-size: 18pt;
	letter-spacing: 2px;
	font-weight: 450;
	text-shadow: 1.5px 1.5px #000;
	list-style: none;
	text-decoration: none;
}

a:hover {
	background-color: #FFC0CB;
}

#heroName {
	color: #FFC0CB;
	padding: 50px;
	font-weight: 550;
	letter-spacing: 1.5px;
	font-size: 60px;
	text-shadow: 1.5px 1.5px #000;
	text-align: center;
}

#slogan {
	color: #fff;
	text-align: center;
	text-shadow: 1.5px 1.5px #000;
	font-size: 24pt;
}

span {
	color: #FFC0CB;
	font-family: 'Lobster', sans-serif;
}

.subheaders {
	color: #FFC0CB;
	text-align: center;
	font-size: 22pt;
	padding: 10px;
	clear: both;
}

/*#sectionOne {
	heigth: 700px;
}*/

h3 {
	font-size: 20px;
}

p {
	font-family: 'Roboto', Arial, sans-serif;
	color: #8A8A8A;
	text-align: center;
	font-size: 20px;
	font-weight: 100px;
	margin: 0 20px 30px 20px;
	line-height: 1.5em;
}

.column {
	width: 400px;
	height: 300px;
	padding: 0;
	margin: 30px 0 50px 0;
	text-align: center;
}

div img {
	vertical-align: top;
	width: 250px;
	height: 250px;
}

div figcaption {
	font-family: 'Roboto', Arial, sans-serif;
	color: #8A8A8A;
	padding: 20px;
	font-weight: 100px;
	font-size: 20px;
	line-height: 1.5em;
}

#figureOne, #figureTwo, #figureThree {
	float: left;
}

.button {
	color: #ffffff;
	text-shadow: .5px 1px #8A8A8A;
	font-weight: 200;
	font-size: 22px;
	background: #FFCA78;
	padding: 20px 40px 20px 40px;
	border: 1px #FFFACD solid;
	text-decoration: none;
	text-align: center;
	letter-spacing: 5px;
	clear: both;
}

.button:hover {
	background-color: #FFC0CB;
}

hr {
	max-width: 500px;
	border-color: #000000;
	background-color: #000000;
	margin: auto;
}

/*
#sectionTwo {
	vertical-align: top;
}*/

aside img{
	background background-size: cover;
	width: 40%;
	height: 40%;
	padding: 0 0 0 20px;
	float: left;
	margin: 40px;
}

article {
	color: #8A8A8A;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 20px;
	padding: 30px;
	margin: 20px;
	width: auto;
	text-align: justify;
	vertical-align: top;
}

.clearFix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#list {
	list-style: none;
	margin: 0;
}

footer {
	background-color: #000000;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

.footerSection {
	display: inline-block;
	color: #FFF;
	vertical-align: top;
	width: 29%;
}

.socialMedia img{
	float: right;
	width: 25%;
	height: 25%;
	margin: 0;
	padding: 10px;
}

.clear {
	clear: both;
}