body{
	font-family: "Bookman", san serif;
	background: url(https://scontent-sjc3-1.cdninstagram.com/vp/309b0203824ee86decb57d472f656b03/5C52A0DA/t51.2885-15/e35/14145606_295898824107437_470656124_n.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	color: #A9F0AF;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight:400;
}

.header{
	text-align: right;
	}

h2 {
	text-align: center;
	font-weight: 300;
}

#slogan {
	font-style: italic;
	color: #fff;
}

hr {
	width: 250;

}

img {
	height: 40%;
}

h3 {
	font-size: 22px;
	font-weight: 400;
}

.justify {
	text-align: justify;
	color: #ffffff;
	font-size: 18px;
}

#list {
	text-align:left;
}

li {
	color: #ffffff;
	font-size: 18px;
}

a {
	color: #fff;
}