body{
	font-family: Bookman, san serif;
	background-color: url(file:///Users/carolinekeller/Desktop/carolinemariekeller.github.io/unit_3/images/steve2.jpg);
	color: rgb(122,26,6);
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-weight: 300;
}

hr {
	width: 250;
}

img {
	height: 40%;
}

h3 {
	font-size: 22px;
	font-weight: 300;
}

.justify {
	text-align: justify;
	color: #66809E;
	font-size: 18px;
}